@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

#navbtn {
  cursor: pointer;
  width: 140px;
  border-radius: 10px;
}

.headerImage {
  background-image: url(../images/city.jpg);
  background-size: cover;
  height: 80vh;
  z-index: 0;
}

.texth2 {
  font-size: 24px;
  width: 60%;
  font-weight: bold;
  padding-top: 101px;
  text-shadow: 2px 2px 40px #000000;
}

.welcomtext {
  width: 50%;
  color: white;
  font-size: 60px;
  text-shadow: 2px 2px 70px #000000;
}

.iconfr {
  max-width: 25px;
  vertical-align: middle;
  border-style: none;
}

#opentimes {
  cursor: pointer;
  border-radius: 50px;
  margin-top: 30px;
  height: 42px;
  background-color: #3193c4;
}

.box {
  box-shadow: -5px 6px 21px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -5px 6px 21px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px 6px 21px 0px rgba(0, 0, 0, 0.5);
  margin-top: -40px;
  width: 70%;
  background-color: white;
  z-index: 100;
}

.h2body {
  color: #003d77;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.boxtext {
  font-weight: bold;
  width: 80%;
  z-index: 100;
  padding-bottom: 2rem;
  /* margin-bottom: 40px; */
}

#boxbtn {
  width: 236px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 18px;
  margin-bottom: 30px;
  background-color: #3193c4;
}

#box2 {
  padding-top: 10rem !important;
  padding-bottom: 3rem !important;
}

.about {
  z-index: -1;
  position: relative;
  margin-top: -50px;
}

.formBoxLead {
  color: #003d77;
  padding-top: 2rem;
  font-weight: bold;
}

.formLeadBox {
  width: 70%;
}

#btnleadregister {
  width: 420px;
  height: 45px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 18px;
  margin-bottom: 30px;
  background-color: #3193c4;
}

.boxLeadFormula {
  margin-top: 60px;
}

.backroundHeaderForm {
  background-color: #003d77;
  height: 80vh;
}

.FormHederText {
  color: white;
  font-weight: bold;
  font-family: "Ubuntu";
  padding-top: 140px;
  font-size: 66px;
  width: 60%;
}

.boxtextForm {
  margin-top: 0;
  margin-bottom: 0rem;
  width: 90%;
  padding-top: 23px;
  font-weight: 500;
  font-size: 15px;
}

#boxForm {
  width: 55%;
}

#boxtext {
  font-size: 15px;
  margin-top: 20px;
}

.FormBox {
  box-shadow: -5px 6px 21px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -5px 6px 21px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px 6px 21px 0px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  width: 60%;
  background-color: #f0f4f7;
  margin-bottom: 20px;
}

.fname {
  display: block;
  padding-bottom: 7px;
  padding-top: 10px;
  color: #003d77;
  font-weight: 500;
  text-align: start;
}

.formInput {
  height: 40px;
  width: 100%;
  border-width: 1px;
  border-radius: 8px;
  border: 2px solid #003d77;
}

.formInput:focus {
  border-color: #0363bd;
}

.select {
  word-wrap: normal;
  width: 100%;
  height: 35px;
}

.lastf {
  margin-bottom: 40px;
}

.footer {
  background-color: #003d77;
}
.navlogo {
  width: 100px;
  height: 50px;
}
.likndin {
  height: 50px;
}
.title {
  font-weight: bolder;
}

.Form {
  width: 50%;
}
#backroundDateHeader {
  height: 70vh;
}

.key {
  color: red;
}

.datacontainer {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}
